In [7]:
import numpy as np
import pandas as pd

In [40]:
df= pd.read_csv("C:/Users/pavan/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding="latin-1")

In [14]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [15]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [27]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [31]:
df_2014 = df[df['Y2014'] == 2014]
missing_count = df_2014.isnull().sum().sum()
total_entries = df_2014.shape[0] * df_2014.shape[1]

print("Total number of missing data in 2014:", missing_count)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing))

Total number of missing data in 2014: 0
Percentage of missing data in 2014: nan%

In [36]:
df_2014 = df[df['Y2014'] == 2014]
print(df_2014)

Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y2014, Y2015, Y2016, Y2017, Y2018]
Index: []

In [51]:
sum_by_year = df.groupby('Element').sum()
max_year = sum_by_year.idxmax()
max_year.sum()

'Domestic supply quantityTourist consumptionDomestic supply quantityTotal Population - Both sexesImport QuantityFood supply quantity (kg/capita/yr)Domestic supply quantityDomestic supply quantityDomestic supply quantityDomestic supply quantityDomestic supply quantity'

In [55]:
selected_data = df[['Y2017', 'Area']]
grouped_data = selected_data.groupby('Area')['Y2017'].sum()
highest_area = grouped_data.idxmax()
highest_area

'Nigeria'

In [57]:
df.shape

(60943, 12)

In [67]:
unique_countries = df['Area'].nunique()
unique_countries

49

In [ ]:
madagascar_2015 = data[(data['Country'] == 'Madagascar') & (data['Year'] == 2015)]

# Calculate the total protein supply quantity
total_protein_supply = madagascar_2015['Protein_Supply_Quantity'].sum()

print("Total Protein supply quantity in Madagascar in 2015:", total_protein_supply